body{ text-align:center; background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&h=350");font-family: 'Chela One', cursive;
}
h1 {color: magenta; font-size:70px;
}
p {color:orange; background-color:aqua;font-size:50px;
}


